modules = ["nodejs-20", "web", "python-3.12", "bash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
mode = "parallel"
author = 41213449

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cactus-wealth-frontend && npm install && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cactus-wealth-backend && pip install -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

[[ports]]
localPort = 3000
externalPort = 80
